.wrapper {
    flex: 0 1 100%;
    margin-bottom: 40px;
    @media (min-width: 426px) and (max-width: 768px) {
        flex: 0 1 80%;
    }
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media (min-width: 769px) and (max-width: 1440px) {
        padding-right: 60px;
    }
    @media (min-width: 376px) and (max-width: 430px) {
        margin-top: 45px;
    }

}