.bottom_line {
    margin: 0 -2rem 0;
    border-top: 1px solid #D4C6BD;
}

.bottom_description {
    .title_h2 {
        margin-bottom: 45px;
        letter-spacing: 0.4px;
    }
    .bottom_text__wrapper {
        color: #3D5361;;
    }
    .title_h4 {
        margin-bottom: -5px;
        letter-spacing: 0.2px;
    }
    .paragraph {
        margin-bottom: 30px;
        letter-spacing: 0.4px;
    }
}