.main {
    letter-spacing: 0.4px;
    margin: 50px auto;
    max-width: 1500px;
    @media (min-width: 1025px) and (max-width: 1440px) {
        max-width: 1280px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        max-width: 980px;
    }
    @media (min-width: 376px) and (max-width: 430px) {
        margin: 40px auto 50px;
    }
    @media (min-width: 321px) and (max-width: 375px) {
        margin: 40px auto 50px;
    }
}

.logo {
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: 376px) and (max-width: 430px) {
        border-bottom: 1px solid darkgrey;
        padding-bottom: 20px;
        width: 98%;
    }
    @media (min-width: 321px) and (max-width: 375px) {
        border-bottom: 1px solid darkgrey;
        padding-bottom: 20px;
        width: 98%;
    }
}

.links {
    border-top: 3px solid #D4C6BD;
    border-bottom: 3px solid #D4C6BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 50px;
    padding: 0 120px;

    .mobile_menu {
        display: none;
        @media (min-width: 376px) and (max-width: 430px) {
            font-size: 23px;
            margin-left: 15px;
            display: flex;
            img {
                width: 26px;
            }
        }
        @media (min-width: 321px) and (max-width: 375px) {
            font-size: 20px;
            margin-left: 5px;
            display: flex;
            img {
                width: 24px;
            }
        }
    }
    a {
        text-decoration: none;
        color: #3D5361;
    }
    
    @media (min-width: 1025px) and (max-width: 1440px) {
        padding: 0 120px;
        font-size: 22px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 0 75px;
        font-size: 20px;
        border-width: 2px;
    }
    @media (min-width: 431px) and (max-width: 768px) {
        padding: 0 55px;
        font-size: 16px;
        height: 40px;
        border-width: 2px;
    }
    @media (min-width: 376px) and (max-width: 430px) {
        border-width: 2px;
        font-size: 16px;
        height: 70px;
        width: 100%;
        padding: 0 20px;
        position: fixed;
        z-index: 3;
        bottom: 0px;
        background: #F5F5F5;
    }
    @media (min-width: 321px) and (max-width: 375px) {
        border-width: 2px;
        font-size: 16px;
        height: 70px;
        width: 100%;
        padding: 0 20px;
        position: fixed;
        z-index: 3;
        bottom: 0px;
        background: #F5F5F5;
    }

    .pages {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex: 0 1 125%;
        @media (min-width: 1025px) and (max-width: 1440px) {
            flex: 0 1 100%;
            margin-right: 30px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            flex: 0 1 140%;
            margin-right: 0;
        }
        @media (min-width: 376px) and (max-width: 430px) {
            display: none;
        }
        @media (min-width: 321px) and (max-width: 375px) {
            display: none;
        }
        a {
            &:not(:last-child) {
                margin-right: 50px;
            }
            @media (min-width: 431px) and (max-width: 768px) {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .active {

        @media (min-width: 376px) and (max-width: 430px) {
            display: flex;
            border-radius: 9px;
            flex-direction: column;
            position: absolute;
            top: -186px;
            font-size: 18px;
            left: 20px;
            letter-spacing: 1px;
            padding: 20px 15px 33px 15px;
            z-index: 3;
            width: 77%;
            background: wheat;
            animation: border 0.7s;

            @keyframes border {
                from {
                    opacity: 0;
                    top: -145px;
                }
            }
            
            a {
                border: 1px solid;
                padding: 7px;
                font-size: 20px;
                border-radius: 5px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
        @media (min-width: 321px) and (max-width: 375px) {
            display: flex;
            border-radius: 9px;
            flex-direction: column;
            position: absolute;
            top: -186px;
            font-size: 18px;
            left: 20px;
            letter-spacing: 1px;
            padding: 20px 15px 33px 15px;
            z-index: 3;
            width: 77%;
            background: wheat;
            animation: border 0.7s;

            @keyframes border {
                from {
                    opacity: 0;
                    top: -145px;
                }
            }
            
            a {
                border: 1px solid;
                padding: 7px;
                font-size: 20px;
                border-radius: 5px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    
    .enter {
        display: flex;
        @media (min-width: 376px) and (max-width: 430px) {
            width: 60%;
            margin-left: 10px;
        }
        @media (min-width: 321px) and (max-width: 375px) {
            width: 60%;
            margin-left: 10px;
        }
        span {
            margin-right: 5px;
            text-decoration:underline;
        }
        a {
            margin-left: 10px;
            @media (min-width: 431px) and (max-width: 768px) {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
            @media (min-width: 321px) and (max-width: 375px) {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        .enter_btn {
            width: 45%;
            display: flex;
            align-items: center;
            @media (min-width: 376px) and (max-width: 430px) {
                justify-content: end;
                margin-right: 23px;
            }
            @media (min-width: 321px) and (max-width: 375px) {
                justify-content: end;
                margin-right: 23px;
            }
            .login {
                @media (min-width: 376px) and (max-width: 430px) {
                    display: none;
                }
                @media (min-width: 321px) and (max-width: 375px) {
                    display: none;
                }
            }
            .login_icon {
                display: none;
                @media (min-width: 376px) and (max-width: 430px) {
                    display: flex;
                    align-items: center;
                }
                @media (min-width: 321px) and (max-width: 375px) {
                    display: flex;
                    align-items: center;
                }
                img {
                    @media (min-width: 376px) and (max-width: 430px) {
                        width: 42px;
                        margin-right: 10px;
                    }
                    @media (min-width: 321px) and (max-width: 375px) {
                        width: 42px;
                        margin-right: 10px;
                    }
                }
            }

        }
        .box {
            position: relative;
            background: none;
            border: none;
            display: flex;
            justify-content: end;
            @media (min-width: 1026px) and (max-width: 1440px) {
                margin-right: 25px;
            }
            @media (min-width: 376px) and (max-width: 425px) {
                justify-content: space-around;
            }
            @media (min-width: 321px) and (max-width: 375px) {
                justify-content: space-around;
            }
            .box_icon {
                cursor: pointer;
                width: 43px;
                margin-right: 35px;
                @media (min-width: 1025px) and (max-width: 1440px) {
                    width: 43px;
                }
                @media (min-width: 431px) and (max-width: 768px) {
                    width: 28px;
                }
                @media (min-width: 376px) and (max-width: 430px) {
                    width: 44px;
                    margin-right: 41px;
                }
                @media (min-width: 321px) and (max-width: 375px) {
                    width: 40px;
                    height: 40px;
                    margin-right: 40px;
                }
            }
        }
        .box_quantity {
            position: absolute;
            top: -2px;
            right: 24px;
            border-radius: 50%;
            padding: 3px;
            z-index: 2;
            font-size: 13px;
            background: tomato;
            color: white;
            width: 17px;
            height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 769px) and (max-width: 1024px) {
                width: 15px;
                height: 15px;
                font-size: 15px;
                right: 31px;
                top: 0px;
            }
            @media (min-width: 431px) and (max-width: 768px) {
                right: 30px;
                width: 10px;
                height: 10px;
                font-size: 9px;
            }
            @media (min-width: 376px) and (max-width: 430px) {
                right: 36px;
                top: -7px;
            }
            @media (min-width: 321px) and (max-width: 375px) {
                right: 36px;
                top: -7px;
            }
        }
    }
}