.wrapper {
    margin: 20px 150px 40px;

    @media (min-width: 426px) and (max-width: 768px) {
        margin: 0px 50px;
    }

    .product_list {
        display: flex;
        max-height: 150px;
        align-items: center;

        .imgage {
            width: 150px;
            margin-bottom: 15px;
            display: flex;
            position: relative;

            .del_item {
                cursor: pointer;
                position: absolute;
                top: 30px;
                font-size: 35px;
                left: -86px;
                width: 26px;
                padding: 0px 0px 3px 9px;
                border: 1px solid midnightblue;
                border-radius: 20%;

                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 14px;
                    width: 11px;
                    padding: 0px 0px 2px 4px;
                    top: 20px;
                    left: -54px;
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    width: 18px;
                    padding: 0px 0px 3px 8px;
                    font-size: 23px;
                }
            }

            img {
                max-width: 150px;
                height: 130px;

                @media (min-width: 426px) and (max-width: 768px) {
                    max-height: 60px;
                    max-width: 80px;
                }

                @media (min-width: 769px) and (max-width: 1024px) {
                    max-height: 90px;
                    max-width: 140px;
                }
            }
        }


        .title {
            font-size: 20px;
            width: 400px;
            text-align: center;
            font-style: italic;
            margin-left: 20px;

            @media (min-width: 426px) and (max-width: 768px) {
                font-size: 12px;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                font-size: 16px;
            }
        }

        .price {
            font-size: 20px;
            font-style: italic;
            margin-left: 65px;

            @media (min-width: 426px) and (max-width: 768px) {
                font-size: 13px;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                font-size: 16px;
            }
        }
    }
}